name: Continuous Integration for ESP32

on:
  push:
    paths-ignore:
      - "**/README.md"
      - "**/logo/*"
      - "**/schematic/*"
      - "LICENCE"
      - "logo.png"
      - ".gitignore"
      - ".gitattributes"
  pull_request:
  workflow_dispatch:

jobs:
  rust-checks:
    name: Rust Checks
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4      

      - name: Install ESP32 Toolchain
        run: |
          curl -L https://github.com/esp-rs/embuild/releases/latest/download/ldproxy-x86_64-unknown-linux-gnu.zip -o $HOME/.cargo/bin/ldproxy.zip
          unzip "$HOME/.cargo/bin/ldproxy.zip" -d "$HOME/.cargo/bin/"
          chmod a+x $HOME/.cargo/bin/ldproxy
          curl -L https://github.com/esp-rs/espup/releases/latest/download/espup-x86_64-unknown-linux-gnu -o espup
          chmod a+x espup
          ./espup install

      - name: Set ESP32 Environment Variables
        run: |
          source $HOME/export-esp.sh  # Source environment variables
          export ESP_IDF_PATH=$HOME/.espressif/esp-idf
          echo "ESP_IDF_PATH set to $ESP_IDF_PATH"

      - name: Enable Caching
        uses: Swatinem/rust-cache@v2
        with: 
          cache-all-crates: "true"
          cache-on-failure: "false"
          cache-targets: "true"
          cache-provider: "github"

      - name: Fmt Check
        run: cargo fmt --check

      - name: Audit Check
        run: |
          cargo install cargo-audit
          cargo audit --deny warnings

      - name: Clippy Check
        run: cargo clippy -- --deny warnings --no-deps

      - name: Build Project for ESP32
        run: cargo build --release --target xtensa-esp32-espidf -vv